body {
    background: whitesmoke;
    color: black;
    font-family: sans-serif;
    padding: auto;
}

.aboutme {
    background-color: #FAFAFF;
    color: #30343F;
    font-family: Lato, 'Open sans', Roboto, Helvetica;
    font-weight: lighter;
}

footer {
    display: flex;
    background-color: black;
    justify-content: center;
    margin: 3rem -10rem;
}

footer a img {
    width: 6vw;
    padding: 0.5rem;
    margin: 0.9rem auto;
}

#gmaillogo{
    width: 7vw;
}

#githublogo{
    margin: 1.4rem;
}