body {
    background: whitesmoke;
    color: black;
    font-family: sans-serif;
    padding: auto;
}

#title{
    font-family: Lato, 'Open Sans';
    font-size: 3rem;
}
.aboutme {
   
    color: #30343F;
    margin: 0vh auto;
    font-family: Lato, 'Open sans', Roboto, Helvetica;
    font-size: 1.5rem;
}

footer {
    display: flex;
    background-color: black;
    justify-content: center;
    margin: 3rem -10rem;
}


#gmaillogo{
    width: 7.5vw;
    padding: 1vh;
    margin: 0.6vh auto;
    
}

#gmaillogo:hover{
   
    transform: translateY(5px);
    transition-duration: 400ms;
}

#githublogo{
    width: 6vw;
    padding: 1vh;
    margin: 1.5vh;
}

#githublogo:hover{
    transform: translateY(5px);
    transition-duration: 400ms;
}
