/* STYLES FOR THE HEADER */
main {
    font-family: 'Source Sans Pro', sans-serif;
    background: #eef1ef;
}
/* header {
    background: #273469;
    background-repeat: none;
    background-size: auto;
    padding: 5px;
    margin: -9px;
    text-transform: uppercase;
} */
/* STYLES FOR THE TRIBUTE SITE */
#title {
    margin: 10px;
    font-size: 2.5vw;
    text-align: center;
    font-family: Helvetica;
    padding: 0.25em;

}

#img-div {
    background: #eef1ef;
    margin: auto;
    padding: 10px;
    width: 50%; 
}

#image {
   
    margin: auto auto;
    max-width: 100%;
    width: 50%;
    height: auto;
    box-shadow: 2px 2px 15px #888888;
    display: block;
}

#img-caption {
    margin: 20px auto -20px auto;   
    text-align: center;
}

a {
    color: #3a568a;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
a:hover{
    color:#542344;
}

#tribute-info {
    font-size: 1em;
    background-color: #d8dad9;
    color: #1c2321;
    padding: 1.8rem;
}
ul{
    list-style-type: none;
}
/* .navigation{
    display: inline-block;
    font-family: Roboto;
    margin: 0px 20px 0 0;
    font-size: 30px;
    text-align: center;
}
.navigation:hover {
    opacity: 0.7;
}
.navigation a{
    text-decoration: none;
    color: #E4D9FF;;
}

.navigation a :visited{
    text-decoration: none;
} */