/*  */
html {
    font-family: helvetica;
}
ul{
    list-style-type: none;
}
.navigation{
    display: inline-block;
    font-family: Roboto;
    margin: 0px 20px 0 0;
    font-size: 30px;
    text-align: center;
}
.navigation:hover {
    opacity: 0.7;
}
.navigation a{
    text-decoration: none;
    color: #E4D9FF;;
}

.navigation a :visited{
    text-decoration: none;
}

header {
    background: #273469;
    background-repeat: none;
    background-size: auto;
    padding: 5px;
    margin: -9px;
    text-transform: uppercase;
}
/* Start of website's CSS */
:root {
    --prussian-blue: #13293d;
    --sapphire-blue: #006494;
    --celadon-blue: #247ba0;
    --carolina-blue: rgba(27, 152, 224, 0.76);
    --azure-x-11-web-color: #e8f1f2;
}

body {
    background: var(--prussian-blue);
    display: block;
}

.title {
    color: var(--azure-x-11-web-color);
}

form {
    color: var(--azure-x-11-web-color);
}

.details {
    margin: 1rem auto 0.5em 0rem;
}
.details input{
    margin-left: 0.25rem;
    border: none;
    border-radius: 3%;
    /* -----------------------------------
     Change Colors  to make it look nice */
    background-color: var(--carolina-blue);
    color: var(--azure-x-11-web-color);
    font-size: 100%;
}
div h4 {
    margin: 0.5rem auto 0.25rem 0rem;
}


.radio {
    margin: 0.25rem auto 0.25rem 0rem;
}

.dropdown {
    margin: 0.25rem auto 0.25rem 0rem;
}

.checkboxes {
    margin: 0.25rem auto 0.25rem 0rem;
}

textarea {
    font-family: 'Source Sans Pro';
    margin: 0.25rem auto 0.25rem 0rem;
}