html {
    font-family: helvetica;
}

:root {
    --prussian-blue: #13293d;
    --sapphire-blue: #006494;
    --celadon-blue: #247ba0;
    --carolina-blue: rgba(27, 152, 224, 0.76);
    --azure-x-11-web-color: #e8f1f2;
}

body {
    background: var(--prussian-blue);
    display: block;
}

header {
    color: var(--azure-x-11-web-color);
}

form {
    color: var(--azure-x-11-web-color);
}

.details {
    margin: 1rem auto 0.5em 0px;
}

div h4 {
    margin: 0.5rem auto 0.25rem 0rem;
}

div input {
    border: none;
    border-radius: 3%;
    /* -----------------------------------
     Change Colors  to make it look nice */
    background-color: var(--carolina-blue);
    color: var(--azure-x-11-web-color);
    font-size: 100%;
}

.radio {
    margin: 0.25rem auto 0.25rem 0rem;
}

.dropdown {
    margin: 0.25rem auto 0.25rem 0rem;
}

.checkboxes {
    margin: 0.25rem auto 0.25rem 0rem;
}

textarea {
    font-family: 'Source Sans Pro';
    margin: 0.25rem auto 0.25rem 0rem;
}